@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;700;900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  height: 100%;
  overflow-x: hidden;
}

body {
  font-family: "Poppins", sans-serif;
  -webkit-font-smoothing: antialiased;
  line-height: 1.5;
}

@layer utilities {
  .btn {
    @apply bg-blue-600 text-center cursor-pointer border-none shadow-none hover:bg-blue-700 text-white font-medium py-2 px-4 rounded-full focus:ring-4 focus:outline-none focus:ring-blue-300 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800;
  }

  .page-title {
    @apply text-5xl lg:text-6xl  font-bold leading-snug uppercase;
  }

  .title-1 {
    @apply text-3xl font-medium leading-snug;
  }

  .title-2 {
    @apply text-2xl font-medium leading-snug;
  }

  .title-3 {
    @apply text-xl font-medium leading-snug;
  }

  .subtitle {
    @apply uppercase text-gray-400;
  }

  .subtitle-sm {
    @apply subtitle text-sm;
  }

  .gray-scale {
    @apply opacity-[0.1] transition-opacity duration-300 ease-in-out cursor-pointer;
  }

  .gray-scale:hover {
    @apply group-hover:opacity-[1];
  }

  .stretched-link {
    @apply after:absolute after:inset-0;
  }

  .text-input {
    @apply bg-gray-100 border-none text-gray-900 rounded-lg focus:ring-blue-600/50 outline-none border focus:shadow-md placeholder-gray-400 focus:border-blue-600 focus:ring-2 block w-full p-3.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-600 dark:focus:border-blue-600;
  }

  .text-input-label {
    @apply block mb-2 text-sm font-medium text-gray-900 dark:text-white;
  }

  .nav-item {
    @apply cursor-pointer py-3 relative;
  }

  .nav-link {
    @apply cursor-pointer;
  }
  .nav-link-footer {
    @apply text-base uppercase cursor-pointer;
  }
}

@layer components {
  .box {
    @apply rounded-3xl border-[1px] border-gray-200/80 bg-white/20 bg-clip-padding pb-4 backdrop-blur-lg p-4 md:p-6 relative overflow-hidden shadow-sm;
  }
  .project-grid {
    @apply space-y-6 py-8 sm:columns-2 sm:gap-6 xl:columns-3 overflow-x-hidden;
  }
  .project-card {
    @apply flex-1 break-inside-avoid rounded-3xl border border-gray-300 bg-white/20 bg-clip-padding p-6 pb-4 backdrop-blur-lg backdrop-filter md:w-[380px] w-full h-fit;
  }
  .service-card {
    @apply flex-1 break-inside-avoid rounded-3xl border border-gray-300 bg-white/20 bg-clip-padding p-6 pb-4 backdrop-blur-lg backdrop-filter w-full h-fit;
  }
  .project-card-title {
    @apply flex-1 break-inside-avoid backdrop-filter md:w-[800px] pb-10 w-full h-fit;
  }
  .btn-primary{
    @apply text-white bg-gradient-to-r from-blue-500 via-blue-600 to-blue-700 hover:bg-gradient-to-br focus:ring-4 focus:outline-none focus:ring-blue-300 dark:focus:ring-blue-800 font-medium rounded-lg text-sm px-5 py-2.5 text-center;
  }
}


.scrolling-text-container {
  white-space: nowrap;
  position: relative;
  animation: scroll 15s linear infinite alternate;
  transform: translateX(100%); /* Initial position outside the viewport */
}

.scrolling-text {
  display: inline-block;
}

@keyframes scroll {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-100%);
  }
}

.main {
  width: 100vw;
  min-height: 100vh;
  position: fixed;
  display: flex;
  justify-content: center;
  padding: 120px 24px 160px 24px;
  pointer-events: none;
}

.main:before {
  background: radial-gradient(circle, rgba(2, 0, 36, 0) 0, #fafafabc 100%);
  position: absolute;
  content: "";
  z-index: 2;
  width: 100%;
  height: 100%;
  top: 0;
}

.main:after {
  content: "";
  /* background-image: url("../images/grid.svg"); */
  z-index: 1;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  opacity: 0.4;
  filter: invert(1);
}

.gradient {
  height: fit-content;
  z-index: 30;
  content: "";
  width: 100%;
  height: 100%;
  max-width: 640px;
  background-image: radial-gradient(
      at 27% 37%,
      hsla(215, 98%, 61%, 1) 0px,
      transparent 0%
    ),
    radial-gradient(at 97% 21%, rgba(254, 172, 114, 0) 0px, transparent 50%),
    radial-gradient(at 52% 99%, hsla(30, 70%, 50%, 0.672) 0px, transparent 50%),
    radial-gradient(at 79% 53%, rgba(58, 139, 253, 0.879) 0px, transparent 50%),
    radial-gradient(at 10% 29%, hsla(120, 70%, 50%, 0.14) 0px, transparent 50%),
    radial-gradient(at 97% 96%, rgb(242, 166, 230) 0px, transparent 50%),
    radial-gradient(at 33% 50%, rgb(70, 94, 234) 0px, transparent 50%),
    radial-gradient(at 79% 53%, rgba(58, 139, 253, 0.518) 0px, transparent 50%);
  position: absolute;
  filter: blur(100px) saturate(150%);
  top: 80px;
  opacity: 0.15;
}

@media screen and (max-width: 640px) {
  .main {
    padding: 0;
  }
}

.app {
  @apply relative z-10;
}
